.padding-top{
    padding-top: 10%;
}
.container-main{
    border: 1px 0 0 0;
    border-color: #cdd3fd;
    border-style: solid;
    background-color: #ffffff;
    
}
h1{
    color: #22103f;
    font-family: 'Alkalami', serif;


}
strong{
    color:#22103f;
}
.address-color{
    color:#22103f;

}
p{
    color:#22103f;
    font-family: 'Alkalami', serif;
    font-size: 1.2rem;

}
.btn{
    color: white;
    font-weight: 500;
    background-color: #727FF9;
}