<div class="padding-top"></div>
<div class="d-flex justify-content-around container-main">


    <div class="pt-5">
        <h1>Vesper</h1>
        <p><strong>info@vesperhotel.com</strong></p>
        <p class="address-color">+31 71 800 99 88</p>
        <div class="">
            <a class="nav-link active" href="https://www.google.nl/maps/preview?q=vesper+hotel+noordwijk&ie=UTF-8&ei=CnYFVLflLYLcOb3_gcAK&ved=0CAkQ_AUoAg" target="_blank"><p>Koningin Astrid Boulevard 46
                2202 BE, Noordwijk
                Netherlands</p></a>
        </div>
        
    </div>
    <div class="pt-5">
        <a routerLink="/rooms" class="nav-link active"><p>Rooms</p></a>
        <p>Food & Drinks</p>
        <p>Beach Venue </p>
    </div>
    <div class="pt-5">
        <p>Social expereicnes</p>
        <p>Special experiences </p>
        <p>Noordwijk</p>
    </div>
    <div class="pt-5">
        <h1>Stay in touch</h1>
        <p>Sign up here to receive interesting updates</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
          </div>
          <button class="btn">Send</button>
    </div>


</div>