.experiences-mai-div{
    margin-top: 25%;
}
.card{
    border: none;
}
.btn-color{
    background-color: #727FF9;
    color: white;
    width: 100%;
}
.img-main{
    width: 40%;
    height: 20%;
}
.card-title{
    color: #22103f;
    font-family: 'Alkalami', serif;
    font-size: 3rem;

}
.card-text{
    font-size: 1.1rem;
    color: #22103f;
}