<div class="d-flex justify-content-center spacing-top" data-aos="fade-up"data-aos-offset="300">

    <div class="d-flex justify-content-end" style="margin: 5%;" *ngFor="let rooms of roomsMainList">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h5 class="card-title">{{rooms.cardTitle}}</h5>
              <p class="card-text">{{rooms.cardText}}</p>
              <div class="p-3"></div>
              <img src="{{rooms.image3}}">
            </div>
          </div>
          
    </div>
    <img *ngFor="let rooms of roomsMainList" class="img-width" src="{{rooms.image1}}">

    
</div>

