.card{
    border: none;
}
h5{
    color: #22103F;
    font-size: 3rem;
    font-family: 'Lobster', cursive;

}
p{
    color: #22103F;
    font-size: 1.2rem;
    font-family: 'Alkalami', serif;


}
.img-width{
    padding-top: 5%;
    width: 40%;
}